/**
 * elements & structure (layout) 單一元素或結構外框之類的，專案變大時，以資料夾分出多個檔案
 */

.container {
  width: 100%;
  max-width: 650px;
  margin: 0 auto;
  padding-left: 15px;
  padding-right: 15px;

  &::after {
    content: '';
    display: table;
    clear: both;
  }
}

.input {
  background-color: #fff;
  border: 1px solid $color-line;
  border-radius: 0.2em;
  min-width: 0;

  &:focus {
    outline: none;
    box-shadow: 0 0 0 0.125em rgba(0,125,255,.25);
    border-color: $color-primary;
  }
}

.icon {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  color: inherit;
  font-size: inherit;
}

.btn {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  padding: 0.375rem 0.75rem;
  border-radius: 0.25rem;
  font-size: $font-size;
  outline: 0;

  &:disabled {
    background-color: $color-bg-dark;
    color: #fff;

    &:hover {
      background-color: $color-bg-dark;
      color: #fff;
    }
  }

  &--primary {
    color: #fff;
    background-color: $color-primary;

    &:focus,
    &:hover {
      background-color: #3982D7;
    }
  }

  &--danger {
    color: $color-error;
    background-color: #fff;

    &:focus,
    &:hover {
      background-color: #FAFAFA;
    }
  }

  &--icon {
    padding: 0;
    border-radius: 50%;
    font-size: inherit;
    position: relative;

    &:focus,
    &:hover {
      background-color: transparent;
    }

    &::before {
      content: "";
      display: block;
      position: absolute;
      top: -25%;
      left: -25%;
      height: 150%;
      width: 150%;
      border-radius: inherit;
      color: inherit;
      background-color: currentColor;
      opacity: 0;
      transition: 0.2s cubic-bezier(0.4,0.0,0.2,1);
      transform: scale(0);
    }

    &:focus::before,
    &:hover::before {
      opacity: 0.1;
      transform: scale(1);
    }
  }
}

.checkbox {
  position: relative;

  label {
    display: inline-flex;
    align-items: center;
    cursor: pointer;
  }

  input[type="checkbox"] {
    display: none;

    & + label::before {
      @include font-awesome-icon('\f0c8');
      line-height: 0.875em;
      color: #fff;
      margin-right: 0.5em;
    }

    & + label:empty::before {
      margin-right: 0;
    }

    &:checked + label::before {
      content: '\f14a';
      color: $color-primary;
      background-color: #fff;
      border-radius: 0.1em;
    }

    & + label:hover::before {
      box-shadow: 0 0 1rem rgba($color: #000, $alpha: 0.1);
    }
  }
}

.file {
  display: flex;
  position: relative;

  &__name {
    line-height: 2em;

    &:empty {
      display: none;
    }

    &--left {
      order: -1;
      margin-right: $spacing-m;
    }
    &--right {
      order: 1;
      margin-left: $spacing-m;
    }
  }

  label {
    display: inline-flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    height: 2em;
    width: 2em;
    border-radius: 0.13em;
    background-color: $color-bg-dark;
    color: #fff;

    &:hover {
      background-color: $color-primary;
    }
  }

  input[type="file"] {
    display: none;
  }
}

.card {
  border-radius: 0.31rem;

  $this: &;

  &:hover {
    box-shadow: 0 0.25rem 0.4rem rgba(0, 0, 0, 0.2);
  }

  &--expanded {
    box-shadow: 0 0.25rem 0.4rem rgba(0, 0, 0, 0.2);

    #{$this}__header {
      border-bottom-left-radius: 0;
      border-bottom-right-radius: 0;
    }
  }

  .checkbox {
    margin-right: $spacing;
    font-size: $font-size-l;
    line-height: $line-height-l;
  }

  &__header {
    display: flex;
    padding: $spacing-m $spacing-l;
    background-color: $color-bg-light;
    border-radius: inherit;

    @media (max-width: 540px) {
      padding: $spacing $spacing-m;
    }
  }

  &__expansion {
    display: none;
    border-bottom-left-radius: inherit;
    border-bottom-right-radius: inherit;
    transition: height 0.45s cubic-bezier(0.4, 0, 0.2, 1);

    .penal {
      border-top: 2px solid $color-text-lighter;
    }

    &.is-expanded {
      display: block;
    }
  }

  &__content {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    margin-right: $spacing-s;

    &--edited {
      flex: 1 1 auto;
      margin: 0 $spacing-m 0 ($spacing-xl - $spacing-l);

      @media (max-width: 540px) {
        margin-right: $spacing;
        margin-left: 0;
      }
    }
  }

  &__title {
    font-size: $font-size-l;
    line-height: $line-height-l;
    cursor: pointer;

    &--completed {
      margin-bottom: 0;
      text-decoration: line-through;
      color: #9B9B9B;
    }
  }

  &__title-input {
    font-size: $font-size-l;
    line-height: $line-height-l;
    background-color: rgba($color: #fff, $alpha: 0.6);
    padding: 0 2px;
    width: 100%;

    &:focus {
      background-color: #fff;
    }
  }

  &__prompt {
    font-size: $font-size;
    line-height: $line-height;
    color: $color-text-light;
    margin-top: $spacing;
    margin-bottom: -$spacing-s;

    &__item {
      display: inline-flex;
      align-items: center;

      &:not(:last-child) {
        margin-right: $spacing;
      }
    }

    &--clickable {
      position: relative;
      padding-right: 1.75rem;
      cursor: pointer;

      &::before {
        content: "";
        display: block;
        position: absolute;
        top: -0.25rem;
        left: -0.5rem;
        height: calc(100% + 0.5rem);
        width: calc(100% + 1rem);
        border-radius: 5px;
        color: inherit;
        background-color: currentColor;
        opacity: 0;
        transition: 0.2s cubic-bezier(0.4,0.0,0.2,1);
        transform: scale(0);
      }

      &:hover::before {
        opacity: 0.1;
        transform: scale(1);
      }

      &:hover::after {
        @include font-awesome-icon('\f0d7');
        display: block;
        position: absolute;
        top: 1px;
        right: 0;
      }
    }
  }

  &__end {
    display: flex;
    margin-left: auto;

    .btn {
      font-size: $font-size-l;
      line-height: $line-height-l;
      height: $line-height-l;
      width: $line-height-l;

      &:not(:last-child) {
        margin-right: $spacing-m;
      }
    }

    @media (max-width: 540px) {
      .btn:not(:last-child) {
        margin-right: $spacing-s;
      }
    }
  }
}

.add-task {
  position: relative;
  width: 100%;
  height: 4rem;
  border-radius: 0.31rem;
  font-size: $font-size-l;

  $this: &;

  .input {
    height: inherit;
    width: inherit;
    padding: 0 3rem 0 4.2rem;
    border-width: 2px;
    border-radius: inherit;

    @media (max-width: 540px) {
      padding-left: $spacing-m;
    }

    &::placeholder {
      color: $color-text-lighter;
      opacity: 1;
    }
  }

  &__add {
    position: absolute;
    left: $spacing-l;
    top: 1.2rem;
    color: $color-text-lighter;
    line-height: 1;

    @media (max-width: 540px) {
      display: none;
    }
  }

  &__more {
    position: absolute;
    right: $spacing;
    top: 1.2rem;
    height: 1.5rem;
    width: 1.5rem;
  }

  &--expanded {
    border-bottom-left-radius: 0;
    border-bottom-right-radius: 0;
  }

  &__expansion {
    display: none;
    border-bottom-left-radius: 0.31rem;
    border-bottom-right-radius: 0.31rem;
    transition: height 0.45s cubic-bezier(0.4, 0, 0.2, 1);

    &.is-expanded {
      display: block;
    }

    .penal {
      border: 2px solid $color-line;
      border-top: 0;
    }
  }
}

.author-footer {
  text-align: center;
  color: #bbb;
  margin: 1rem auto;

  &-pen {
    margin-right: 0.25rem;
  }
  &-link {
    color: #bbb;
    margin-left: 0.25rem;

    &:hover {
      color: $color-primary;
    }
  }
}
